<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style type="text/css">
			.active {
				background-color: red;
			}
		</style>
	</head>
	<body>
		<div id="box">
			<ul>
				<li v-for="(data,index) in datalist">
					{{data}} -- {{index}}
				</li>
			</ul>
			<ul>
				<li v-for="(data,key) in obj">
					{{data}} -- {{key}}
				</li>
			</ul>
			<ul>
				<li v-for="(data,index) of datalist">
					{{data}} -- {{index}}
				</li>
			</ul>
			<ul>
				<li v-for="(data,key) of obj">
					{{data}} -- {{key}}
				</li>
			</ul>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#box",
				data: {
					datalist: ["111", "222", "333"],
					obj: {
						name: 'Mrhuang',
						age: 100,
						location: 'nanchong'
					}
				}
			})
		</script>
	</body>
</html>
